{% extends "shop/base.html" %}

{% block content %}
{% for notification in notifications %}<br><br>
 {% if notification.notification_type == 2  %}
<br>
{{notification.sender}}@{{notification.sender.shop}} comentou:{{notification.text_preview}}=<a href="{% url 'delete_notifications' notification.id %}">apagar</a>
<br>

{% elif notification.notification_type == 4  %}
<br>
{{notification.sender}}@{{notification.sender.shop}} respondeu:{{notification.text_preview}}


{% endif %}
{% endfor %}

{% endblock %}